name: PHP Composer

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    services:
      redisgraph:
        image: redislabs/redisgraph:latest
        ports:
          - 6379:6379

    steps:
    - uses: actions/checkout@v1

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Run test suite
      run: composer run-script test
